nav(class="navbar navbar-expand-lg navbar-light bg-light")
  div(class="container-fluid")
    a(class="navbar-brand", href='#')=$title
    ul(class="navbar-nav ms-auto mb-2 mb-lg-0")
      li(class="nav-item")
        a(class="nav-link", aria-current='page', href='/singup') Singup
      li(class="nav-item")
        a(class="nav-link", href='/login') Login
