doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title=$title

        //- Css Files
        link(href="static/css/bootstrap.min.css", rel="stylesheet")
        link(rel="stylesheet", href="static/css/home/style.css")
    body
        div(class="container")
            include partials/navbar.pug
            include partials/header.pug
            include partials/posts.pug
            include partials/footer.pug
        script(src="static/js/bootstrap.bundle.min.js")