div(class="row justify-content-center mt-4")
    div(class="card col-6")
        div(class="card-body text-center")
            h5(class="card-title fs-2") Login
            form(action="/login", method="post")
                div(class="mb-3 mt-3")
                    input(id="usernameInput", class="form-control", type="text", name="username", placeholder="Username")
                div(class="mb-3")
                    input(id="passwordInput", class="form-control", type="password", name="password", placeholder="Password")
                div(class="mb-3")
                    button(type="submit", class="btn btn-primary") Login
                div(class="mb-3") 
                    a(href="/signup", class="link-danger") You do not have any account?